.page {
    background-image: linear-gradient(to top, #161624, #161624, #161724, #171725, #171725, #181827, #181928, #191a2a, #1b1c2d, #1d1e31, #1f2034, #212238);
    min-height: 100vh;
    padding-top: 18%;
    min-width: 100vw;
}

.auth_container {
    background-color: #1c1f30;
    width: fit-content;
    height: fit-content;
    text-align: center;
    color: white;
    border: 2px solid #12141f;
    border-radius: 10px;
    padding: 40px;
    font-size: 12px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

@media only screen and (min-width: 0px) {
    .auth_container {
        margin-left: 6%;
        margin-right: 6%;
    }
}

@media only screen and (min-width: 320px) {
    .auth_container {
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media only screen and (min-width: 375px) {
    .auth_container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (min-width: 425px) {
    .auth_container {
        margin-left: 12%;
        margin-right: 10%;
    }
}

@media only screen and (min-width: 768px) {
    .auth_container {
        margin-left: 28%;
        margin-right: 10%;
    }
}

@media only screen and (min-width: 1440px) {
    .auth_container {
        margin-left: 40%;
        margin-right: 10%;
    }
}

@media only screen and (min-width: 2560px) {
    .auth_container {
        margin-left: 43%;
        margin-right: 43%;
    }
}