.page {
    background-image: linear-gradient(to top, #161624, #161624, #161724, #171725, #171725, #181827, #181928, #191a2a, #1b1c2d, #1d1e31, #1f2034, #212238);
    min-height: 100vh;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

.dashboard_format {
    display: flex;
}

.first_col {
    width: 65%;
}

.user_card {
    background-image: linear-gradient(to top right, #1d1e31, rgb(40, 50, 82));
    border: 2.5px solid #303146;
    height: 200px;
    border-radius: 20px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 20px;
    padding-left: 50px;
}

.user_card_greeting {
    color: white;
    font-size: 60px;
    font-weight: 600;
}

.user_card_name {
    color: #749af2;
    font-size: 50px;
    font-weight: 550;
}

.second_col {
    width: 35%;
}

.summary_row {
    display: flex;
}

.summary_card {
    background-color: #1d1e31;
    border: 2.5px solid #303146;
    display: flex;
    width: 25%;
    border-radius: 20px;
    margin-right: 15px;
    padding: 20px;
}

.summary_card_icon {
    background-color: #293250;
    border: 3px solid #749af2;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    align-items: center;
    text-align: center;
}

.icon {
    font-size: 40px;
    color: white;
    margin-top: 22px;
}

.icon_tag {
    font-size: 40px;
    color: white;
    margin-top: 26px;
}

.content_title {
    color: white;
    font-size: 16px;
    font-weight: 550;
}

.content_main {
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.content_desc {
    color: #9899b8;
    font-size: 12px;
    font-weight: 550;
}

.summary_card_first_col {
    width: 65%;
}

.summary_card_second_col {
    width: 80%;
    margin-top: 21px;
}

.recently_added_table {
    background-color: #1d1e31;
    border: 2px solid #303146;
    border-radius: 20px;
    margin-bottom: 10px;
    min-height: 40vh;
}

.recently_added_table_header {
    border-bottom: 2px solid #303146;
    color: white;
    padding-left: 20px;
}

.recently_added_table_row {
    font-size: 16px;
    font-weight: 550;
    width: 100%;
    background-color: #272b40;
    color: white;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 16px;
    display: flex;
}

.rows_container {
    height: 500px;
    padding: 10px;
    overflow-y: scroll;
}

.rows_container::-webkit-scrollbar-track
{
    display: none;
}

.rows_container::-webkit-scrollbar
{
	width: 10px;
    display: none;
}

.rows_container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    height: 10px;
	background-color: #1e1d32;
    display: none;
}

.table_contents {
    display: flex;
    border-radius: 8px;
}

.recently_sold_table_row {
    font-size: 16px;
    width: 100%;
    background-color: #272b40;
    color: white;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 16px;
    display: flex;
}

.third_row_container {
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 15px;
    background-color: #1d1e31;
    border: 2.5px solid #303146;
    height: 752px;
}

.inventory_summary {
    color: white;
    text-align: center;
}

.pie_row {
    height: 500px;
    width: 500px;
    margin-left: 480px;
}

.legend_row_one {
    display: flex;
    padding-top: 40px;
    padding-left: 555px;
}

.legend_row_two {
    padding-top: 20px;
    display: flex;
    padding-left: 620px;
}

.legend_col {
    color: white;
    display: flex;
    font-weight: 550;
    padding-right: 20px;
}

.sneakers_dot {
    color: #749af2;
    font-size: 20px;
}

.streetwear_dot {
    color: #5d8af3;
    font-size: 20px;
}

.electronics_dot {
    color: #4176f3;
    font-size: 20px;
}

.collectibles_dot {
    color: #2c5cca;
    font-size: 20px;
}

.other_dot {
    color: #2864f0;
    font-size: 20px;
}

.table_header {
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    color: white;
    padding-left: 20px;
    display: flex;
}

.table_col_one {
    width: 70%;
}