* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.43;
  
}
.inventory-container {
  margin-left: 26.1%;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}

.header {
  background-color: #212238;
  padding-top: 25px;
  padding-right: 20px;
}

.data-card-main {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.data-card-desc {
  color: #C3CAEA;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.container {
  min-width: 100vh;
}