.grid {
  margin-top: 100px;
  margin-bottom: 100px;
}

.home {
  background-color: #151724;
  min-width: 100vh;
  padding-left: 25%;
  padding-right: 25%;
}

.home_section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title {
  color:#FFFFFF;
  font-size: 47.5px;
  line-height: 68px;
  margin-bottom: 30px;
  font-weight: 700;
  padding-top: 150px;
  padding-bottom: 15px;
}

.desc {
  color: #C3CAEA;
  margin-bottom: 40px;
  line-height: 28px;
  font-weight: 500;
  font-size: 22px;
}

.home_buttons {
  background-color: #151724;
  border: 1px solid #6B9FFF;
  color: #6B9FFF;
  height: 45px;
  width: 100px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 40px;
}

.home_buttons:hover {
  cursor: pointer;
}

.feature_container_one {
  display: flex;
  flex-direction: row;
  padding-top: 320px;
}

.feature_container_two {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.feature_container_three {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.feature_col_one {
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.feature_col_two {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.feature_container_three {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.featureHeader {
  color: #6B9FFF;
  font-size: 16.5px;
  font-weight: 600;
  line-height: 45px;
}

.featureTitle {
  color: #FFFFFF;
  font-size: 33px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}

.featureDesc {
  color: #C3CAEA;
  margin-bottom: 40px;
  line-height: 28px;
  font-weight: 550;
  font-size: 21px;
}

.col_one {
  width: 50%;
}

.col_two {
  width: 50%;
}

.table_pic {
  margin-top: 40px;
  width: 1000px;
  height: 700px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.database_pic {
  width: 550px;
  height: 450px;
  margin-left: 100px;
}

.edit_pic {
  width: 750px;
  height: 450px;
  padding-right: 200px;
}

.security_pic {
  width: 750px;
  height: 450px;
}

.navbar {
  min-width: fit-content;
}

@media only screen and (max-width: 320px) {
  .grid {
    margin-top: 0px;
    margin-bottom: 100px;
  }

  .home {
    background-color: #151724;
    min-width: 100vh;
    padding-left: 40%;
    padding-right: 40%;
  }

  .home_section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .col_one {
    width: 100%;
  }

  .feature_container_one {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .feature_container_two {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0px;
  }

  .feature_container_three {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }

  .feature_col_one {
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .feature_col_two {
    display: flex;
    text-align: center;
    width: 100%;
  }

  .database_pic {
    width: 550px;
    height: 450px;
    margin-left: 180px;
  }
  
  .edit_pic {
    width: 750px;
    height: 450px;
    margin-left: 180px;
  }
  
  .security_pic {
    width: 750px;
    height: 450px;
    margin-left: 80px;
  }
}

@media only screen and (min-width: 321px) {
  .grid {
    margin-top: 0px;
    margin-bottom: 100px;
  }

  .home {
    background-color: #151724;
    min-width: 100vh;
    padding-left: 40%;
    padding-right: 40%;
  }

  .home_section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .col_one {
    width: 100%;
  }

  .feature_container_one {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .feature_container_two {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0px;
  }

  .feature_container_three {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }

  .feature_col_one {
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .feature_col_two {
    display: flex;
    text-align: center;
    width: 100%;
  }

  .database_pic {
    width: 550px;
    height: 450px;
    margin-left: 180px;
  }
  
  .edit_pic {
    width: 750px;
    height: 450px;
    margin-left: 180px;
  }
  
  .security_pic {
    width: 750px;
    height: 450px;
    margin-left: 80px;
  }

}

@media only screen and (min-width: 426px) {
  .grid {
    margin-top: 0px;
    margin-bottom: 100px;
  }

  .home {
    background-color: #151724;
    min-width: 100vh;
    padding-left: 20%;
    padding-right: 20%;
  }

  .home_section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .col_one {
    width: 100%;
  }

  .feature_container_one {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .feature_container_two {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0px;
  }

  .feature_container_three {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }

  .feature_col_one {
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .feature_col_two {
    display: flex;
    text-align: center;
    width: 100%;
  }

  .database_pic {
    width: 550px;
    height: 450px;
    margin-left: 180px;
  }
  
  .edit_pic {
    width: 750px;
    height: 450px;
    margin-left: 180px;
  }
  
  .security_pic {
    width: 750px;
    height: 450px;
    margin-left: 80px;
  }
}

@media only screen and (min-width: 769px) {
  .grid {
    margin-top: 0px;
    margin-bottom: 100px;
  }

  .home {
    background-color: #151724;
    min-width: 100vh;
    padding-left: 15%;
    padding-right: 15%;
  }

  .home_section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .col_one {
    width: 100%;
  }

  .feature_container_one {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .feature_container_two {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0px;
  }

  .feature_container_three {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }

  .feature_col_one {
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .feature_col_two {
    display: flex;
    text-align: center;
    width: 100%;
  }

  .database_pic {
    width: 550px;
    height: 450px;
    margin-left: 180px;
  }
  
  .edit_pic {
    width: 750px;
    height: 450px;
    margin-left: 180px;
  }
  
  .security_pic {
    width: 750px;
    height: 450px;
    margin-left: 80px;
  }
}

@media only screen and (min-width: 1441px) {
  .grid {
    margin-top: 0px;
    margin-bottom: 100px;
  }

  .home {
    background-color: #151724;
    min-width: 100vh;
    padding-left: 15%;
    padding-right: 15%;
  }

  .home_section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .col_one {
    width: 100%;
  }

  .feature_container_one {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .feature_container_two {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0px;
  }

  .feature_container_three {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }

  .feature_col_one {
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .feature_col_two {
    display: flex;
    text-align: center;
    width: 100%;
  }

  .database_pic {
    width: 550px;
    height: 450px;
    margin-left: 180px;
  }
  
  .edit_pic {
    width: 750px;
    height: 450px;
    margin-left: 180px;
  }
  
  .security_pic {
    width: 750px;
    height: 450px;
    margin-left: 80px;
  }
}

@media only screen and (min-width: 2001px) {
  .grid {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .home {
    background-color: #151724;
    min-width: 100vh;
    padding-left: 25%;
    padding-right: 25%;
  }
  
  .home_section {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .col_one {
    width: 100%;
  }

  .feature_container_one {
    display: flex;
    flex-direction: row;
    padding-top: 320px;
  }
  
  .feature_container_two {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }
  
  .feature_container_three {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }
  
  .feature_col_one {
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .feature_col_two {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
  }

  .database_pic {
    width: 550px;
    height: 450px;
    margin-left: 100px;
  }
  
  .edit_pic {
    width: 750px;
    height: 450px;
    margin-left: 0;
    padding-right: 200px;
  }
  
  .security_pic {
    width: 750px;
    height: 450px;
    margin-left: 0;
  }
}