.grid {
  margin-top: 100px;
  margin-bottom: 100px;
}

.home {
  background-color: #151724;
  min-width: 100vh;
  padding-left: 25%;
  padding-right: 25%;
}

.home_section {
  display: flex;
  width: 100%;
}

.title {
  color:#FFFFFF;
  font-size: 47.5px;
  line-height: 68px;
  margin-bottom: 30px;
  font-weight: 700;
  padding-top: 150px;
  padding-bottom: 15px;
}

.desc {
  color: #C3CAEA;
  margin-bottom: 40px;
  line-height: 28px;
  font-weight: 500;
  font-size: 22px;
}

.home_buttons {
  background-color: #151724;
  border: 1px solid #6B9FFF;
  color: #6B9FFF;
  height: 45px;
  width: 100px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 40px;
}

.home_buttons:hover {
  cursor: pointer;
}

.feature_container_one {
  display: flex;
  padding-top: 320px;
}

.feature_container_two {
  display: flex;
  padding-top: 80px;
}

.feature_col_one {
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.feature_col_two {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.featureHeader {
  color: #6B9FFF;
  font-size: 16.5px;
  font-weight: 600;
  line-height: 45px;
}

.featureTitle {
  color: #FFFFFF;
  font-size: 33px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}

.featureDesc {
  color: #C3CAEA;
  margin-bottom: 40px;
  line-height: 28px;
  font-weight: 550;
  font-size: 21px;
}

.col_one {
  width: 50%;
}

.col_two {
  width: 50%;
}

.table_pic {
  margin-top: 40px;
  width: 1000px;
  height: 700px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.database_pic {
  width: 550px;
  height: 450px;
  margin-left: 100px;
}