.grid {
  margin-top: 100px;
  margin-bottom: 100px;
}

.title {
  color:#FFFFFF;
  font-size: 47.5px;
  line-height: 68px;
  margin-bottom: 30px;
  font-weight: 700;
}

.desc {
  color: #C3CAEA;
  margin-bottom: 40px;
  line-height: 28px;
  font-weight: 500;
  font-size: 22px;
}

.home {
  background-color: #151724;
  min-width: 100vh;
  padding-left: 25%;
  padding-right: 25%;
}

.feature {
  padding-top: 250px;
}

.featureHeader {
  color: #6B9FFF;
  font-size: 16.5px;
  font-weight: 600;
  line-height: 28px;
}

.featureTitle {
  color: #FFFFFF;
  font-size: 33px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}

.featureDesc {
  color: #C3CAEA;
  margin-bottom: 40px;
  line-height: 28px;
  font-weight: 500;
  font-size: 21px;
}

.footer {
  color: #FFFFFF;
}

.footer-link {
  font-weight: 550;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: normal;
  line-height: 22.88px;
  text-decoration: none;
  margin-right: 32px;
}

.footer-header {
  font-size: 17.5px;
  font-weight: 600;
  line-height: 28px;
  color: #C3CAEA;
}

.footer-grid {
  margin-left: 26.1%;
}
