.page {
    background-image: linear-gradient(to top, #161624, #161624, #161724, #171725, #171725, #181827, #181928, #191a2a, #1b1c2d, #1d1e31, #1f2034, #212238);
    min-height: 100vh;
    padding-top: 20px;
}

.table {
    margin-left: 80px;
    margin-right: 80px;
}

.table_contents {
    display: flex;
    background-color: #1d1f33;
    border-radius: 8px;
    margin-top: 5px;
    font-size: 14px;
    margin-right: 7.5px;
}

.content_container {
    height: 910px;
    overflow: scroll;
    overflow-x: hidden;
}

.content_container::-webkit-scrollbar-track
{
    display: none;
}

.content_container::-webkit-scrollbar
{
	width: 10px;
}

.content_container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    height: 20px;
	background-color: #1e1d32;
    border: 4px solid rgba(0, 0, 0, 0);
}

.table_header {
    display: flex;
    background-color: #212238;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 5px;
    font-size: 14px;
    margin-right: 17.5px;
}

.name_header {
    width: 40%;
    color: #FFF;
    margin-left: 3%;
}

.size_header {
    width: 15%;
    color: #FFF;
}

.group_header {
    width: 25%;
    color: #FFF;
}

.price_header {
    width: 20%;
    color: #FFF;
}

.actions_header {
    width: 4%;
}

.name_column {
    width: 40%;
    color: #595c83;
    margin-left: 3%;
}

.size_column {
    width: 15%;
    color: #595c83;
}

.group_column {
    width: 25%;
    color: #595c83;
}

.price_column {
    width: 20%;
    color: #595c83;
}

.actions_column {
    width: 4%;
    display: flex;
}

.add_button {
    background-color: #222139;
    border: 2px solid #27273b;
    color: #FFF;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 8px;
}

.add_button:hover {
    border: 2px solid #5168a0;
    cursor: pointer;
}

.edit_button {
    background-color: #1d1f33;
    border: none;
    font-size: 20px;
    color: #425382;
}

.edit_button:hover {
    cursor: pointer;
}

.delete_button {
    background-color: #1d1f33;
    border: none;
    font-size: 20px;
    color: #ba5566;
}

.delete_button:hover {
    cursor: pointer;
}

.above_table {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.above_one {
   width: 7%; 
}

.above_two {
    width: 8%;
    border-right: 3px solid #444456;
    margin-top: 30px;
}

.above_two_title {
    color: white;
    font-size: 28px;
    font-weight: 600;
}

.above_two_desc {
    color: #5564a2;
    font-size: 16px;
    font-weight: 550;
}

.above_three {
    display: flex;
    width: 70%;
    margin-left: 45px;
}

.group_display {
    margin-left: 45px;
    margin-top: 30px;
}

.group_title {
    color: white;
    font-size: 28px;
    font-weight: 600;
}

.group_desc {
    color: #5564a2;
    font-size: 16px;
    font-weight: 550;
}

.above_icons {
    width: 15.5%;
}

.inventory_icon {
    margin-top: 20px;
    height: 110px;
    width: 110px;
    padding-left: 24px;
    padding-top: 17px;
    color: #6B9FFF;
    font-size: 60px;
    background-color: #171725;
    border-radius: 8px;
    border: 2px solid #27273b;
}

.group_button {
    width: 100px;
    height: 45px;
    margin-top: 20px;
    margin-left: 15px;
    background: linear-gradient(to right, #212238 50%, #161624 50%);
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 2px solid #27273b;
}

.group_button:hover {
    border: 2px solid #5168a0;
    cursor: pointer;
}

.button_contents {
    font-size: 16px;
    display: flex;
}

.group_icon {
    color: #6B9FFF;
    background-color: #212238;
    margin-left: 10px;
}

.group_number {
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-left: 35px;
}

.search_bar {
    width: 400px;
    height: 55px;
    border: 2px solid #27273b;
    background-color: #171725;
    color: #27273b;
    font-size: 14px;
    font-weight: 550;
    padding-left: 20px;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.search_bar:focus {
    outline: none !important;
    border: 2px solid #5168a0;
    color: #666c9c;
}

.utility_bar {
    display: flex;
    align-items: center;
}

.sneakers_icon {
    color: #6B9FFF;
}

.streetwear_icon {
    color: #6B9FFF;
}

.electronics_icon {
    color: #6B9FFF;
}

.collectibles_icon {
    color: #6B9FFF;
}

.other_icon {
    color: #6B9FFF;
}