.modal {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 30%;
}

.modal_content {
    background-color: #1c1f30;
    overflow: auto;
    border-radius: 8px;
    outline: none;
    padding: 34px;
}

.add_item {
    color: white;
    font-weight: 550;
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 15px;
}

.close_icon {
    float: right;
    font-weight: 550;
    font-size: 25px;
    color: #999999;
}

.close_icon:hover {
    cursor: pointer;
}

.input_header {
    font-size: 14px;
    color: #676d9c;
    font-weight: 550;
}

.name_box {
    width: 100%;
    height: 50px;
    border: 2px solid #27273b;
    background-color: #171725;
    color: #666c9c;
    font-size: 14px;
    font-weight: 550;
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.name_box:focus {
    outline: none !important;
    border: 2px solid #5168a0;
}

.size_box {
    width: 91%;
    height: 50px;
    border: 2px solid #27273b;
    background-color: #171725;
    color: #666c9c;
    font-size: 14px;
    font-weight: 550;
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.size_box:focus {
    outline: none !important;
    border: 2px solid #5168a0;
}

.size_box::-webkit-scrollbar-track{
    display: none;
}

.size_box::-webkit-scrollbar{
	width: 10px;
}

.size_box::-webkit-scrollbar-thumb{
	border-radius: 10px;
    height: 20px;
	background-color: #1e1d32;
    border: 4px solid rgba(0, 0, 0, 0);
}

.group_box {
    width: 100%;
    height: 50px;
    border: 2px solid #27273b;
    background-color: #171725;
    color: #666c9c;
    font-size: 14px;
    font-weight: 550;
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.group_box:focus {
    outline: none !important;
    border: 2px solid #5168a0;
}

.price_box {
    width: 95%;
    height: 50px;
    border: 2px solid #27273b;
    background-color: #171725;
    color: #666c9c;
    font-size: 14px;
    font-weight: 550;
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.price_box:focus {
    outline: none !important;
    border: 2px solid #5168a0;
}

.price_box::-webkit-outer-spin-button,
.price_box::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_grid {
    display: flex;
    width: 100%;
    margin-top: 15px;
}

.size_col {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.group_col {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.price_col {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.add_box {
    background-color: #778beb;
    border: none;
    border-radius: 4px;
    height: 45px;
    width: 100px;
    color: white;
    font-weight: 550;
    font-size: 14px;
}

.add_box:hover {
    cursor: pointer;
    background-color: #6a7cd4;
}

@media only screen and (min-width: 0px) {
    .modal {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .modal {
        left: 20%;
    }
}

@media only screen and (min-width: 1024px) {
    .modal {
        left: 28%;
    }
}

@media only screen and (min-width: 1440px) {
    .modal {
        left: 35%;
    }
}

@media only screen and (min-width: 2560px) {
    .modal {
        left: 40%;
    }
}